# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr
build
*.local
*.zip

# Plasmo specific
.plasmo
.parcel-cache

# Environment variables
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Testing
coverage
*.lcov

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~

# OS specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.tmp
*.temp
.cache
